<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Oli's Simple Synth
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Oli's Simple Synth</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <ion-accordion-group>
    <ion-accordion value="general">
      <ion-item slot="header">
        <ion-icon slot="start" name="barcode-outline"></ion-icon>
        <ion-label>Beat</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>
            Beat On
          </ion-label>
          <ion-toggle (ionChange)="changeBeatActive($event)"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="adsr">
      <ion-item slot="header">
        <ion-icon slot="start" name="analytics-outline"></ion-icon>
        <ion-label>ADSR</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>Attack:</ion-label>
          <ion-range [value]="attackValue" (ionChange)="changeAttackValue($event)" class="attackRange" min="0" max="1"
                     step="0.1" color="secondary">
            <ion-label slot="start">0 ms</ion-label>
            <ion-label slot="end">1 s</ion-label>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label>Release:</ion-label>
          <ion-range [value]="releaseValue" (ionChange)="changeReleaseValue($event)" class="releaseRange" min="0" max="3"
                     step="0.1" color="secondary">
            <ion-label slot="start">0 ms</ion-label>
            <ion-label slot="end">3 s</ion-label>
          </ion-range>
        </ion-item>
        <canvas #myCanvas></canvas>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="scale">
      <ion-item slot="header">
        <ion-icon slot="start" name="musical-note-outline"></ion-icon>
        <ion-label>Scale</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-segment scrollable value="C" (ionChange)="scaleChanged($event)">
            <ion-segment-button value="C">
              <ion-label>C</ion-label>
            </ion-segment-button>
            <ion-segment-button value="D">
              <ion-label>D</ion-label>
            </ion-segment-button>
            <ion-segment-button value="E">
              <ion-label>E</ion-label>
            </ion-segment-button>
            <ion-segment-button value="F">
              <ion-label>F</ion-label>
            </ion-segment-button>
            <ion-segment-button value="G">
              <ion-label>G</ion-label>
            </ion-segment-button>
            <ion-segment-button value="A">
              <ion-label>A</ion-label>
            </ion-segment-button>
            <ion-segment-button value="H">
              <ion-label>H</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
        <ion-item>
          <ion-label>Chromatic</ion-label>
          <ion-toggle (ionChange)="toggleChromatic($event)"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>

<ion-footer>
  <div #gestureBox class="gestureBox"></div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let n of [6, 7, 8]" size="4">
        <ion-button expand="block" (touchstart)="playNote(n)"></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let n of [3, 4, 5]" size="4">
        <ion-button expand="block" (touchstart)="playNote(n)"></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let n of [0, 1, 2]" size="4">
        <ion-button class="delayed" expand="block" (touchstart)="playNote(n)"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
